<?xml version="1.0" encoding="UTF-8" ?>
<!-- visualize rtabmap launch file -->

<launch>
  <group ns="rtabmap">
    <node pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmapviz">
      <param name="frame_id" type="string" value="base_link"/>
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_scan" type="bool" value="true"/>
      <param name="rgb/image_transport" type="string" value="compressed"/>
    </node>
  </group>
</launch>