<?xml version="1.0" encoding="UTF-8" ?>
<!-- rtabmap launch file -->

<launch>
  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
    <!-- http://wiki.ros.org/depthimage_to_laserscan -->
    <param name="scan_height" value="10" />
    <param name="output_frame_id" value="body_link" />

    <!-- INPUTS -->
    <remap from="image" to="/camera/depth/image_rect" />

    <!-- OUTPUTS -->
    <remap from="camera/scan" to="scan" />
  </node>

  <!-- Publish static transform from base_link to camera_link ; Adapt z-Value to the correct camera height -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_head_tilt_link" args="0 0 0.098 0 0 0  /base_link /head_tilt_link"/>

  <group ns="rtabmap">
    <!-- sync depth with odometry -->
    <node pkg="nodelet" type="nodelet" name="data_odom_sync" args="standalone rtabmap_legacy/data_odom_sync /standalone_nodelet">
      <!-- http://wiki.ros.org/rtabmap_legacy#rtabmap_legacy.2Fdata_odom_sync -->
      <!-- INPUTS -->
      <remap from="odom_in" to="/odometry/calculated"/>
      <remap from="rgb/image_in" to="/camera/rgb/image_rect_color"/>
      <remap from="depth/image_in" to="/camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info_in" to="/camera/depth_registered/camera_info"/>

      <!-- OUTPUTS -->
      <remap from="rgb/image_out" to="/rtabmap/camera/rgb/image_rect_color"/>
      <remap from="depth/image_out" to="/rtabmap/camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info_out" to="/rtabmap/camera/depth_registered/camera_info"/>
      <remap from="odom_out" to="/rtabmap/odometry/synchronized"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" args="--delete_db_on_start">
      <param name="frame_id" type="string" value="base_link"/>
      <param name="queue_size" type="int" value="30"/>
      <param name="publish_tf" type="bool" value="true"/>

      <!-- http://wiki.ros.org/rtabmap_ros/noetic_and_newer -->

      <param name="Grid/Sensor" type="string" value="2"/>
      <!-- "Create occupancy grid from selected sensor: 0=laser scan, 1=depth image(s) or 2=both laser scan and depth image(s)." -->

      <!-- RTAB-Map's parameters -->
      <!-- https://github.com/introlab/rtabmap/blob/noetic-devel/corelib/include/rtabmap/core/Parameters.h -->
      <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
      <param name="RGBD/ProximityBySpace" type="string" value="true"/>
      <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="10"/>
      <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
      <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>

      <param name="Kp/MaxDepth" type="string" value="4.0"/>
      <param name="Reg/Strategy" type="string" value="2"/>
      <param name="Icp/CorrespondenceRatio" type="string" value="0.2"/>
      <param name="Vis/MinInliers" type="string" value="5"/>
      <param name="Vis/InlierDistance" type="string" value="0.1"/>
      <param name="Mem/RehearsalSimilarity" type="string" value="0.30"/>

      <param name="Rtabmap/TimeThr" type="string" value="0"/>
      <param name="Rtabmap/DetectionRate" type="string" value="2"/>
      <param name="map_filter_radius" type="double" value="0"/>

      <!-- INPUTS -->
      <remap from="odom" to="/rtabmap/odometry/synchronized"/>

      <param name="subscribe_depth" type="bool" value="true"/>
      <remap from="depth/image" to="/rtabmap/camera/depth_registered/image_raw"/>

      <remap from="rgb/image" to="/rtabmap/camera/rgb/image_rect_color"/>
      <remap from="rgb/camera_info" to="/rtabmap/camera/depth_registered/camera_info"/>

      <param name="subscribe_scan" type="bool" value="true"/>
      <remap from="scan" to="/scan"/>

      <!-- OUTPUTS -->
      <remap from="goal_out" to="current_goal"/>
    </node>
  </group>
</launch>
