<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://github.com/IntelRealSense/realsense-ros/blob/ros1-legacy/realsense2_camera/launch/rs_camera.launch -->

<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="initial_reset" value="true"/>
    <arg name="device_type" value="d435i"/>
    <!-- <arg name="filters" value="pointcloud"/> -->

    <!-- needed for imu topic -->
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="enable_gyro" value="true"/>
    <arg name="enable_accel" value="true"/>

    <!-- segmentation fault fix / Hardware failiure-->
    <!-- REF: https://github.com/IntelRealSense/realsense-ros/issues/669#issuecomment-472228935 -->
    <arg name="enable_confidence" value="false"/>
    <arg name="publish_tf" value="false"/>

    <arg name="enable_depth" value="false"/>
    <arg name="depth_fps" value="1"/>

    <arg name="enable_color" value="false"/>
    <arg name="color_width" value="640"/>
    <arg name="color_height" value="480"/>
    <arg name="color_fps" value="1"/>

    <arg name="enable_infra" value="false"/>
    <arg name="infra_width" value="640"/>
    <arg name="infra_height" value="480"/>

    <arg name="gyro_fps" value="1"/>
    <arg name="accel_fps" value="1"/>
  </include>

  <!-- using cammera as main imu (republishing data under different topic)-->
  <node pkg="topic_tools" type="relay" name="imu_relay" args="camera/imu imu/data"/>
</launch>
